/* Styling voor de hele pagina */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(208, 235, 246);
    margin:0px;
    }

/* De styling van onder de header     */
main {
    margin-left:auto;
    margin-right: auto;
    max-width: 1200px;
}

/* Titel van de pagina's */
    h1 {
    margin-bottom: 50px;
    }


/* Header */
/* Dit is de header met logo foto en navigatiemenu */
    header {
    display: flex;
    background-color: rgb(238, 238, 237);
    height: 70px;
    padding-left: 15px;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;
    }

    /* Logo styling */
        .logo img {
        width: auto;
        height: 50px;
        background-color: transparent;
        }

/* Tekst van menu */
        header nav ul {
        list-style: none;
        display: flex;
        gap: 50px;
        font-size: 20px;
        } 

        /* Tekst stylen van de link voor als je de pagina wel of niet hebt bezocht*/
            li a:link, 
            li a:visited {
            text-decoration: none;
            color: rgb(0, 0, 0);
            }
        
         /* Als je met je muis over de naam gaat van de pagina in menu dan zie je dit */
            li a:hover {
            text-decoration: underline;
            text-decoration-color: grey;
            text-underline-offset: 5px;
            }

        /* Dit komt tevoorschijn bij de pagina die je op het moment bezoekt */    
            li a.active {
            text-decoration: underline;
            text-decoration-color: red;
            text-underline-offset: 5px;
            }


/* Home */

.introductie {
    font-weight: bold;
    margin-left: -160px;
    margin-bottom: 50px;
}

    .intro {
    margin-left:-160px;
    margin-right:-160px;
    background-color: rgba(241, 240, 240, 0.873);
    height: 300px;
    margin-top: -50px;
    border-bottom: 1px solid grey;
    }

    .intro h1 {
        padding-top: 50px;
        margin-left:auto;
        margin-right: auto;
        max-width: 1200px; 
        }

    .intro h1 span {
        font-size: 100px;
        }

    .voorstellen {
    margin-left:-160px;
    margin-right:-160px;    
    display: flex;
    gap: 50px;
    border-bottom: 1px solid grey;
    background-color: white;
    padding-bottom: 50px;
    margin-bottom: 50px;

    }

    .voorstellen h2, p {
        padding-left: 160px;
        padding-top: 40px;
    }

    .voorstellen p {
        font-size: 20px;
    }

        .voorstellen img {
            height: 400px;
            width: auto;
            padding-right: 200px;
            padding-top: 50px;
        }

/* Blogpagina */
    /* Teksten van de list op de blog pagina */
        li a {
        background-color: rgb(235, 197, 239);
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        }

    /* Dagverslag blokje op de blog pagina */
        div { 
        background-color: rgb(208, 37, 37);
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        margin-bottom: 30px;
        color: white;
        }

    /* Deze link tag hoort bij bronnen van 2-09 */
        a {
        color:rgb(128, 151, 213);
    .recentprojecten {
        margin-left:-160px;
        margin-right:-160px;   
        height: 800px;
        background-color: white;
        margin-top: 50px;
        border-top: 1px solid grey;
        padding-top: 40px;
        }

        .recentprojecten h2 {
        margin-left: 160px;
        }

           .containerproject {
            display:flex;
            flex-wrap: wrap;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            gap: 50px;
            }

            .containerproject article {
                width: 450px;
                height: 250px;
                background-color: rgb(223, 223, 223);
                border:1px solid black;
                border-radius: 5px;
            }

                .containerproject h3 {
                padding-left: 15px;
                padding-top: 5px;
                color: black;
                }
        
                article img {
                    width: 450px;
                    height: auto;
                }




        }

/* Bronnen pagina */
    /* De container van HTML, CSS en JS vlak in bronnen pagina */
        .vlakken { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:50px;
        background-color: transparent;
        }

        /* Het vlak van HTML, CSS en JS in bronnen pagina */
            .bronnen-vlak { 
            height: auto;
            background-color: #b41fef;
            padding: 5px 10px 15px 15px;
            border-radius: 5px;
            }

        /* Kopje in bronnen vlak */
            .bronnen-vlak h3 {
            padding-top: 15px;
            padding-left: 15px;
            color: rgb(255, 255, 255);
            }

    /* Bronnenvlak van het stukje Overig. Deze is afwijkende grootte  */
        .bronnen-vlak-afwijkend { 
        height: auto;
        background-color: #9b04d7;
        padding: 5px 10px 15px 15px;
        border-radius: 5px;
        margin-left: 0px;
        flex-wrap: wrap;
        min-width: 700px;
        max-width: 1410px
        }

        /* Links in de afwijkende bronnen vlak Overig  */
            .bronnen-vlak-afwijkend li a, a:visited {
            background-color: transparent;
            color:#a3deef;
            }

        /* Kopje in afwijkende bronnen vlak  */
            .bronnen-vlak-afwijkend h3 {
            padding-left: 15px;
            }

/* Foto pagina */
    /* Foto grootte van de image */
        img {
        width: 300px;
        height: auto;
        }

    /* Container fotocollage */
        .fotocollage {
        display: flex;
        background-color: transparent;
        gap: 50px;
        margin-left: -20px;
        }

    /* Kopje van de foto conatainer */
        h3 {
        margin-top: 0px;
        }

    /* Container van de foto  */
        .foto {
        width: 300px;
        height: 470px;
        padding: 20px;
        background-color: rgb(218, 124, 1);
        }
footer {
height: 50px;
    border-top:1px solid lightgrey;
    background-color: #ffffff;
    }

    /* De grootte van de image */
        img {
        height: auto;
        width: 300px;
        }
    footer p {
        font-size: 14px;
        padding-left:50px;

        }