/* VOOR DE HELE PAGINA */

    /* Styling voor de hele pagina */
        body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #F0F8FF;
        margin:0px;
        overflow-x: hidden;
        }

    /* De styling van onder de header     */
        main {
        margin-left:auto;
        margin-right: auto;
        max-width: 1200px;
        }

    /* Titel van de pagina's */
        h1 {
        margin-bottom: 50px;
        color: #0F172A;
        }

    /* Kopjes en teksten styling*/
        h2 {
        padding-top: 20px;
        margin-bottom: 50px;
        color: #0F172A;  
        }

            p { 
            color: #0F172A;
            }

    /* Intro tekst van de pagina */
        .intro {
        font-weight: bold;
        margin-bottom: 50px;
        width: 80%;
        color: #0F172A;
        }    


    /* Header */
        /* Dit is de header met logo foto en navigatiemenu */
            header {
            display: flex;
            background-color: #0F172A;
            height: 70px;
            padding-left: 15px;
            justify-content: space-between;
            border-bottom: 1px solid lightgrey;
            align-items: center;
            padding-left: 70px;
            padding-right: 70px;
            margin-bottom: 50px;
            }

            /* Logo styling */
                .logo img {
                width: auto;
                height: 50px;
                background-color: transparent;
                }

            /* Tekst van menu */
                    header nav ul {
                    list-style: none;
                    display: flex;
                    gap: 50px;
                    font-size: 20px;
                    } 

                /* Tekst stylen van de link voor als je de pagina wel of niet hebt bezocht*/
                    li a:link, 
                    li a:visited {
                    text-decoration: none;
                    color: white;
                    }
                
                /* Als je met je muis over de naam gaat van de pagina in menu dan zie je dit */
                    li a:hover {
                    text-decoration: underline;
                    text-decoration-color: #F0F8FF;
                    text-underline-offset: 5px;
                    }

                /* Dit komt tevoorschijn bij de pagina die je op het moment bezoekt */    
                    li a.active {
                    text-decoration: underline;
                    text-decoration-color: red;
                    text-underline-offset: 5px;
                    }

                    
    /* FOOTER        */

        /* Dit is voor de footer vlak */
            footer {
            background-color: #0F172A;
            box-sizing: border-box;
            margin-top: 50px;
            }

            /* Voor de tekst in de footer     */
                footer p {
                margin-bottom: 0px;
                margin-top: 0px;
                padding-left: 70px;
                padding-top: 20px;
                padding-bottom:20px;  
                font-size: 14px;  
                color: white;
                }        


/* Home */

    /* Dit is de introductie over de website */
        .introductie {
        margin-left:-160px;
        margin-right:-160px;
        height: 300px;
        margin-top: -50px;
        border-bottom: 1px solid lightgrey;
        }

        /* Tekst styling van h1 */    
            .introductie h1 {
                padding-top: 50px;
                margin-left:auto;
                margin-right: auto;
                max-width: 1200px; 
                color:#0F172A;
                }

        /* Tekst styling van een gedeelte van de h1 */        
            .introductie h1 span {
                font-size: 100px;
                }


/* VOORSTELLEN BLOK */               
    /* Het vlak gedeelte van het voorstellen stukje             */
        .voorstellen {
        margin-left:-160px;
        margin-right:-160px;    
        display: flex;
        gap: 100px;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 50px;
        }

    /* Dit is voor de tekst gedeelte van het voorstellen     */
        .voorstellen section {
        padding-top: 100px;
        }

        /* Het kopje in de tekst gedeelte van voorstellen */
            .voorstellen h2 {
            padding-left: 160px;
            color: #0F172A;
            }

        /* Het paragraph in de tekst gedeelte van voorstellen */
            .voorstellen p {
            font-size: 20px;
            padding-left: 160px;
            }

    /* De foto in voorstellen gedeelte     */
        .voorstellen img {
            height: 500px;
            width: auto;
            padding-right: 200px;
            padding-top: 50px;
            }


/* PROJECTEN BLOK */

    /* Het vlak voor de recenste projecten             */
         .recentprojecten {
        margin-left:-160px;
        margin-right:-160px;   
        height: 450px;
        max-height: 400px;
        }

    /* Het kopje van het vlak met recente projecten     */
        .recentprojecten h2 {
        margin-left: 160px;
        }

        /* Het vlak van de recenste projecten             */
           .containerproject {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1200px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            column-gap: 40px;
            }

            /* De link naar alle projecten onderaan           */
                .recentprojecten .containerproject a {
                text-decoration: none;
                justify-self: flex-end;
                grid-column: 1 / -1; 
                color: #0F172A;
                padding-right: 10px;
                }

                /* Voor de link naar alle projecten           */    
                    .recentprojecten .containerproject a:link {
                    color: #0F172A;
                    }

                /* Voor de hover link naar alle projecten           */    
                    .recentprojecten .containerproject a:hover {
                    color: #000098;
                    }

            /* Dit is het kaartje naar het project */
                .containerproject section {
                max-width: 370px;
                height: 250px;
                display: grid;
                background-color:white;
                border:1px solid lightgrey;
                border-radius: 5px;
                }

                /* Dit is het kopje in het kaartje naar het project */    
                    .containerproject h3 {
                    padding-left: 15px;
                    color: #0F172A;
                    margin-top: 10px;
                    }
            
                /* Dit is de foto in het kaartje naar het project */    
                    section img {
                    width: 370px;
                    height: 200px;
                    object-fit: cover;
                    }

                    
/* BRONNEN PAGINA */

    /* De container van de vlakken in bronnen pagina */
        .vlakken { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:30px;
        background-color: transparent;
        }

        /* Het vlak in bronnen pagina */
            .bronnen-vlak { 
            /* height: auto; */
            height: 300px;
            background-color: #0F172A;
            padding: 5px 10px 15px 15px;
            border-radius: 5px;
            }

            /* Kopje in bronnen vlak */
                .bronnen-vlak h3 {
                padding-top: 15px;
                padding-left: 15px;
                color: white;
                }

            /* De lijst in de vlakken voor de linkjes     */
                .bronnen-vlak ul {
                list-style: none;
                color: white;
                padding-left: 15px;
                }

                /* De links in bronnen vlak */
                    .bronnen-vlak li a, a:visited {
                    background-color: transparent;
                    color:white;
                    font-size: 15px;
                    }

                /* Links in vlak als je over heen gaat met muis    */
                    .bronnen-vlak li a:hover {
                    text-decoration: underline;
                    text-decoration-color: #F0F8FF;
                    text-underline-offset: 4px;
                    }


